In [2]:
import csv
import pandas as pd

csv_data = pd.read_csv('data.csv')
# csv_data2 = csv_data.append(csv_data)
# csv_data2 = csv_data2[0:100000]
# csv_data3 = csv_data2.append(csv_data2)
# csv_data4 = csv_data3.append(csv_data3)
# csv_data5 = csv_data4.append(csv_data4)
# csv_data6 = csv_data5.append(csv_data5)
# csv_data7 = csv_data6.append(csv_data6)
# csv_data8 = csv_data7.append(csv_data7)
# csv_data9 = csv_data8.append(csv_data8)
# csv_data10 = csv_data9.append(csv_data9)
# csv_data11 = csv_data10.append(csv_data10)
# print(csv_data10.shape)

In [5]:
csv_data

        4.521  5140.8
0      1.2017  2704.9
1      3.9718  3270.3
2      2.2233  3335.1
3      4.2241  4614.5
4      4.0206  2263.8
...       ...     ...
49997  9.1565  9683.2
49998  8.3827  8172.5
49999  9.7317  9143.0
50000  9.6661  8556.9
50001  9.4673  7283.1

[50002 rows x 2 columns]

In [5]:
csv_data9 = csv_data8.append(csv_data8)
print(csv_data9.shape)

(39999998, 2)

In [7]:
csv_data8.to_csv("data8.csv", header=None, index=None, index_label=None)

In [ ]:
# N = 5
# csv_batch_data = csv_data.tail(N)  # 取后5条数据
# print(csv_batch_data.shape)  # (5, 9)
# train_batch_data = csv_batch_data[list(range(3, 6))]  # 取这20条数据的3到5列值(索引从0开始)
# print(train_batch_data)